.header-page {
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-page .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.header-logo-accent {
  color: var(--navy-blue);
}

.menu {
  display: none;
}

.mobile-menu-button-container {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.mobile-menu-button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  line-height: 0;
  background-color: transparent;
  fill: var(--color-menu-icon);
}

.mobile-menu-button:hover,
.mobile-menu-button:focus {
  stroke: var(--iris);
  fill: var(--iris);
}

.header-address {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: var(--white);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
  }

  .is-mobile-menu-open {
    transform: translateX(0);
  }

  .mobile-menu-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 72px;
  }

  .mobile-menu-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--cornflower);
    background-color: var(--white);
  }

  .mobile-menu-close-icon {
    fill: var(--navyblue);
  }

  .mobile-menu-navigation {
    margin-bottom: 168px;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-menu-item {
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .mobile-menu-item-link {
    color: var(--navyblue);
  }

  .mobile-menu-item-link-current {
    color: var(--ocean);
  }

  .mobile-menu-contacts {
    margin-bottom: 48px;
  }

  .mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobile-menu-contact {
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .mobile-menu-email {
    color: var(--slate);
  }

  .mobile-menu-phone {
    color: var(--iris);
  }

  .mobile-menu-social-links {
    display: flex;
    align-self: center;
    column-gap: 40px;
  }

  .mobile-menu-icon-container {
    width: 40px;
    height: 40px;
  }

  .mobile-menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-social-icon {
    fill: var(--cloud);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-button-container {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    column-gap: 120px;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .menu-item-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 24px 0px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-item-link:hover,
  .menu-item-link:focus {
    color: var(--ocean);
  }

  .menu-item-link-active {
    position: relative;
    color: var(--ocean);
  }

  .menu-item-link-active::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--ocean);
    transform: scaleX(1);
    bottom: -1px;
  }

  .contacts-container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-left: 0;
  }

  .header-address {
    display: block;
    font-style: normal;
  }

  .contact-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-link:hover,
  .contact-link:focus {
    color: var(--ocean);
  }
}

@media screen and (min-width: 1158px) {
  .navigation {
    column-gap: 76px;
  }

  .contacts-container {
    flex-direction: row;
    column-gap: 40px;
    margin-left: auto;
  }

  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
