.section-about {
  width: 100%;
  background-color: var(--navy-blue);
  background-image: linear-gradient(var(--grey), var(--grey)),
    url('../../images/office-mobile@1x.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 72px;
}

.section-about-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
  width: 158px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.button-service {
  cursor: pointer;
  background-color: var(--iris);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-service:hover,
.button-service:focus {
  background-color: var(--ocean);
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .section-about {
    background-image: linear-gradient(var(--grey), var(--grey)),
      url('../../images/office-mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .section-about {
    background-image: linear-gradient(var(--grey), var(--grey)),
      url('../../images/office-tablet@1x.jpg');
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .section-about-header {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .section-about {
    background-image: linear-gradient(var(--grey), var(--grey)),
      url('../../images/office-tablet@2x.jpg');
  }
}

@media screen and (min-width: 1158px) {
  .section-about {
    max-width: 1440px;
    background-image: linear-gradient(var(--grey), var(--grey)),
      url('../../images/office-desktop@1x.jpg');
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .section-about-header {
    font-size: 56px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .section-about {
    background-image: linear-gradient(var(--grey), var(--grey)),
      url('../../images/office-desktop@2x.jpg');
  }
}
