.section-features-header {
  color: var(--white);
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 72px;
}

.feature-card {
  width: 100%;
}

.feature-icon-container {
  display: none;
}

.feature-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

@media screen and (min-width: 768px) {
  .feature-card {
    width: calc((100% - 24px) / 2);
  }

  .feature-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features {
    display: flex;
    gap: 24px;
  }

  .feature-card {
    max-width: calc((100% - 3 * 24px) / 4);
  }

  .feature-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--light-slate);
    background-color: var(--cloud);
    margin-bottom: 8px;
  }

  .feature-icon {
    width: 64px;
    height: 64px;
  }

  .feature-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .feature-text {
    font-weight: 400;
  }
}
